	
<div class="section padding-top-big">
		<div class="background-parallax" style="background-image: url('img/parallax-dark-3.jpg')" data-enllax-ratio=".5" data-enllax-type="background" data-enllax-direction="vertical"></div>

			<% include footer_copy_right.ejs %>

			<!--- Footer finigh  -->	
	</div>