
	<div class="section py-4 background-dark-blue-4">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 footer text-center text-lg-left">
						<p>Copyright  <a href="https://a2i.gov.bd/"> a2i</a> @ 2018</p>
					</div>
					<div class="col-lg-6 footer mt-4 mr-auto mt-lg-0 mr-lg-0 text-center text-lg-right">
						<p>Develop By   <a href="https://sererl.com"> Sererl</a> </p>
					</div>
				</div>
			</div>
	</div>