<!DOCTYPE html>

<html class="no-js" lang="en">

<!-- =========  Header ======= -->
<% include partials/header1.ejs %>
	<!-- ==========  Header End ===== -->

	<body>

		<div class="loader dark">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
				<rect x="0" y="0" width="4" height="10" fill="#333">
					<animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0" dur="0.6s"
					 repeatCount="indefinite" />
				</rect>
				<rect x="10" y="0" width="4" height="10" fill="#333">
					<animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.2s" dur="0.6s"
					 repeatCount="indefinite" />
				</rect>
				<rect x="20" y="0" width="4" height="10" fill="#333">
					<animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.4s" dur="0.6s"
					 repeatCount="indefinite" />
				</rect>
			</svg>
		</div>



		<!-- Nav and Logo === -->

		<div id="menu-wrap" class="menu-back cbp-af-header dark">
			<% include partials/menu/menu_without_login.ejs %>
		</div>

		<div class="section full-height height-auto-lg hide-over background-dark-blue-3">

			<!-- Primary Page Layout -->

			<div style="height: 100px"></div>

			<!--    Condition  Start -->




			<div class="section full-height height-auto-lg hide-over background-dark-blue-3" id="faq">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="title-wrap text-center">
								<div class="back-title"></div>
								<h3 class="text-white" style="margin-top: 80px">প্রতিযোগিতার নিয়ম সমূহ</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div id="accordion" class="accordion-style">
								<div class="card">
									<div class="card-header" id="headingOne">
										<a class="text-white background-dark-blue-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
											মোট পর্ব কয়টি ?
										</a>
									</div>

									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
										<div class="card-body">
											<h6 class="text-white">মোট পর্ব কয়টি ?</h6>
											<p class="text-grey">ফুলবন্ধু কুইজে ৭টি পর্ব রয়েছে ।
												<br>
												<br> পর্ব সমূহ হলো :-</p>
											<ul style="list-style-type:circle ; color: #ffffff">
												<li>৭ জন বীরশ্রেষ্ঠ এর জীবনী ও যুদ্ধের ইতিবৃত্ত ।</li>
												<li>স্বাধীনতার পটভুমি, ঘোষনাপত্র, ২৫শে মার্চ এর গনহত্যা ।</li>
												<li>মুজিবনগর সরকার, শপথ, প্রবাসী সরকার এর প্রতিনিধি ।</li>
												<li>মুক্তিযুদ্ধের সেক্টর, সাব সেক্টর, ব্রিগেট ফোর্স, সেক্টর কম্যান্ডার ।</li>
												<li>মুক্তিযুদ্ধের গান, কবিতা, চলচিত্র, উপন্যাস, অনুষ্ঠান ।</li>
												<li>শহিদ বুদ্ধিজীবী, গেরিলা যুদ্ধ, রাজাকার বাহিনী, ক্রাক প্লাটুন, মিত্র বাহিনী, বিশ্ব জনমত ।</li>
												<li>বঙ্গবন্ধু শেখ মুজিবর রহমান, বিজয় ও স্বীকৃতি, সরকার ও সংবিধান ।</li>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header" id="headingTwo">
										<a class="collapsed text-white background-dark-blue-2" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
										 aria-controls="collapseTwo">
											প্রতি পর্বে কয়টি প্রশ্ন থাকবে ?
										</a>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
										<div class="card-body">
											<h6 class="text-white">প্রতি পর্বে কয়টি প্রশ্ন থাকবে ?</h6>
											<p class="text-grey">প্রতি পর্বে ১০ টি করে কুইজ এর উত্তর দিতে হবে । </p>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header" id="headingThree">
										<a class="collapsed text-white background-dark-blue-2" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
										 aria-controls="collapseThree">
											প্রতি রাউন্ডে কয়টি প্রশ্ন সঠিক উত্তর দিতে হবে ?</a>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
										<div class="card-body">
											<h6 class="text-white">প্রতি রাউন্ডে কয়টি প্রশ্ন সঠিক উত্তর দিতে হবে ?</h6>
											<p class="text-grey">নূন্যতম ৫ টি প্রশ্নের সঠিক উত্তর দিতে পারলে পরবর্তী পর্বে খেলার যোগ্যতা অর্জন করবে ।</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 mt-4 mt-md-0">
							<div id="accordion-snd" class="accordion-style">
								<div class="card">
									<div class="card-header" id="headingFour">
										<a class="text-white background-dark-blue-2" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											কারা অংশ গ্রহণ করতে পারবে?
										</a>
									</div>

									<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion-snd">
										<div class="card-body">
											<h6 class="text-white">কারা অংশ গ্রহণ করতে পারবে ?</h6>
											<p class="text-grey">কুইজে ৬ষ্ঠ-৮ম শ্রেণী ক গ্রুপ এবং ৯ম থেকে ১২শ শ্রেণী “খ” গ্রুপ হিসেবে অংশগ্রহন করবে ।</p>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header" id="headingFive">
										<a class="collapsed text-white background-dark-blue-2" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
										 aria-controls="collapseFive">
											দিনে কয়বার খেলায় অংশ নেওয়া যাবে?
										</a>
									</div>
									<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion-snd">
										<div class="card-body">
											<h6 class="text-white">দিনে কয়বার খেলায় অংশ নেওয়া যাবে ? </h6>
											<p class="text-grey">একজন শিক্ষার্থী দিনে সর্বোচ্চ দুইবার একটি পর্বে অংশগ্রহন করতে পারবে ।</p>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header" id="headingSix">
										<a class="collapsed text-white background-dark-blue-2" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
										 aria-controls="collapseSix">
											কুইজে অংশ গ্রহণের শেষ সময় ?
										</a>
									</div>
									<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion-snd">
										<div class="card-body">
											<h6 class="text-white">কুইজে অংশ গ্রহণের শেষ সময় ?</h6>
											<p class="text-grey">শিক্ষাথীরা ১৬ ডিসেম্বরে, ২০১৮ পযন্ত প্রতিযোগীতায় অংশ গ্রহণ করতে পারবে ।</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>


		<!--- Condition Finish  -->



		<!--- Footer Copy Right start  -->

		<% include partials/footer_copy_right.ejs %>

			<!--- Footer Copy Right finigh  -->





			<div class="scroll-to-top">to top</div>




			<!-- JAVASCRIPT -->
			<script src="js/jquery-3.2.1.min.js"></script>
			<script src="js/popper.min.js"></script>
			<script src="js/bootstrap.min.js"></script>
			<script src="js/plugins.js"></script>
			<script src="js/chart-custom.js"></script>
			<script src="js/particles-dark.js"></script>
			<script src="js/custom.js"></script>

			<!-- End Document -->
	</body>

</html>