<!DOCTYPE html>
<html>

<head>
    <title>Error ( ফুলবন্ধু কুইজ প্রতিযোগিতা )</title>

    <style type="text/css">
        body {
            background-image: url('img/404error.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

</head>

<body>


</body>

</html>