<!DOCTYPE html>

<html class="no-js" lang="en">

<!-- =========  Header ======= -->
<% include partials/header.ejs %>
<!-- ==========  Header End ===== -->

<body>	

	<div class="loader dark">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
			<rect x="0" y="0" width="4" height="10" fill="#333">
				<animateTransform attributeType="xml"
				attributeName="transform" type="translate"
				values="0 0; 0 20; 0 0"
				begin="0" dur="0.6s" repeatCount="indefinite" />
			</rect>
			<rect x="10" y="0" width="4" height="10" fill="#333">
				<animateTransform attributeType="xml"
				attributeName="transform" type="translate"
				values="0 0; 0 20; 0 0"
				begin="0.2s" dur="0.6s" repeatCount="indefinite" />
			</rect>
			<rect x="20" y="0" width="4" height="10" fill="#333">
				<animateTransform attributeType="xml"
				attributeName="transform" type="translate"
				values="0 0; 0 20; 0 0"
				begin="0.4s" dur="0.6s" repeatCount="indefinite" />
			</rect>
		</svg>	
	</div>
						

	
	<!-- Nav and Logo -->
	
	<div id="menu-wrap" class="menu-back cbp-af-header dark">
        <% include partials/menu/menu_without_login.ejs %>
	</div>

	
	<!-- Primary Page Layout -->

	<div class="section full-height height-auto-lg hide-over background-dark-blue-3">
		<div class="hero-center-wrap relative-on-lg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 text-center text-lg-left parallax-fade-top align-self-center z-bigger">
						<h2 class="text-white">ফুলবন্ধু কুইজ প্রতিযোগিতা</h2>
						<p class="mt-3 mb-4 pb-3 font-weight-normal text-white">দেশ কে ভালোবাস, দেশ কে জানো...</p>
						<a class="btn btn-primary ml-lg-0 js-tilt" href="registration" role="button" data-tilt-perspective="300" data-tilt-speed="700" data-tilt-max="24"><span>রেজিস্ট্রেশন</span></a>
						<a class="btn btn-primary js-tilt" href="#app" data-gal="m_PageScroll2id" data-ps2id-offset="68" role="button" data-tilt-perspective="300" data-tilt-speed="700" data-tilt-max="24"><span>অ্যাপ ডাউনলোড</span></a>
					</div>
					<div class="col-lg-4 mt-5 mt-lg-0" align="center">
							<img src="img/fulbondu.png" height="300px" width="290px"  alt="fulbondu">
					</div>
				</div>
			</div>
		</div>
		<div id="particles-js" class="min-height"></div>
	</div>
	

	
<!--- Footer Copy Right start  -->

<% include partials/footer_copy_right.ejs %>


<!--- Footer Copy Right finigh  -->	
	
	
	

	
<div class="scroll-to-top">to top</div>



	
	<!-- JAVASCRIPT -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script> 
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script> 
	<script src="js/chart-custom.js"></script>  
	<script src="js/particles-dark.js"></script> 
	<script src="js/custom.js"></script>  
	
<!-- End Document -->
</body>
</html>